{% raw %}{{- with secret "{% endraw %}{{ vault_agent_pki_role_path }}{% raw %}" "common_name={% endraw %}{{ item.common_name }}{% raw %}"{% endraw %} {% if item.alt_names is defined %}{% raw %}"alt_names={% endraw %}{{ item.alt_names }}{% raw %}"{% endraw %}{% endif %} {% if item.ip_sans is defined %}{% raw %}"ip_sans={% endraw %}{{ item.ip_sans }}{% raw %}"{% endraw %}{% endif %} {% raw %}"ttl={% endraw %}{{ item.ttl | default(vault_agent_cert_ttl) }}{% raw %}" -}}
{{ .Data.certificate }}
{{ .Data.issuing_ca }}
{{- end -}}{% endraw %}
