global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: 'prometheus'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ['localhost:9090']

  # Scrape the specific LXC containers defined in playbook
  - job_name: 'homelab_services'
    scheme: https
    static_configs:
      - targets:
{% for target in scrape_targets %}
        - '{{ target }}.{{ domain }}:9100'
{% endfor %}

  # Scrape Nginx metrics (if nginx is in scrape_targets)
{% if 'nginx' in scrape_targets %}
  - job_name: 'nginx_metrics'
    scheme: http
    static_configs:
      - targets:
        - 'nginx.{{ domain }}:9113'
{% endif %}
