[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ service_user }}
Group={{ service_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yaml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.config.file={{ prometheus_config_dir }}/web-config.yaml \
  --web.console.templates={{ prometheus_config_dir }}/consoles \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
  --web.listen-address=0.0.0.0:9090

SyslogIdentifier=prometheus
Restart=always
RestartSec=5s

# Security hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ prometheus_data_dir }}
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
