---
- name: Install packages
  ansible.builtin.apt:
    name:
      - zsh
      - git
      - sudo
    state: present
    update_cache: true

- name: Configure zsh for user
  vars:
    default_home_path: "{{ '/root' if item.name == 'root' else '/home/' + item.name }}"
    user_home: "{{ item.home | default(default_home_path) }}"
  loop: "{{ zsh.users }}"
  include_tasks: configure-zsh.yaml
