---
- name: Install packages
  ansible.builtin.apt:
    name:
      - zsh
      - git
    state: present
    update_cache: true

- name: Set user shell to zsh
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/zsh

- name: Download ohmyzsh
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "{{ home }}/install.sh"
    mode: '0755'

- name: Check if .oh-my-zsh directory exists
  ansible.builtin.stat:
    path: "{{ home }}/.oh-my-zsh"
  register: oh_my_zsh_stat

- name: Run Oh My Zsh installation script
  command: sh "{{ home }}/install.sh" --unattended
  register: ohmyzsh_result
  failed_when: "'FAILED' in ohmyzsh_result.stderr"
  when: not oh_my_zsh_stat.stat.exists

- name: Install PowerLevel10K
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ home }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1

- name: Install autosuggestions
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "{{ home }}/.oh-my-zsh/custom//plugins/zsh-autosuggestions"

- name: Install syntax hilight
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "{{ home }}/.oh-my-zsh/custom//plugins/zsh-syntax-highlighting"

- name: Copy .zshrc config
  ansible.builtin.copy:
    src: files/zshrc
    dest: "{{ home }}/.zshrc"
    mode: "0644"
    owner: "{{ user }}"

- name: Copy .p10k.zsh config
  ansible.builtin.copy:
    src: files/p10k.zsh
    dest: "{{ home }}/.p10k.zsh"
    mode: "0644"
    owner: "{{ user }}"
