---
- name: Install packages
  ansible.builtin.apt:
    name:
      - zsh
      - git
      - sudo
      - ncurses-term  # To fix terminall issues over SSH
    state: present
    update_cache: true

- name: Create user
  loop: "{{ zsh.users }}"
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: /bin/zsh
    create_home: "{{ item.name != 'root' }}"
    state: present

- name: Configure zsh for user
  vars:
    default_home_path: "{{ '/root' if item.name == 'root' else '/home/' + item.name }}"
    user_home: "{{ item.home | default(default_home_path) }}"
  loop: "{{ zsh.users }}"
  ansible.builtin.include_tasks: configure-zsh.yaml
