{% raw %}{{- with secret "{% endraw %}{{ vault_agent_pki_role_path }}{% raw %}" "common_name={% endraw %}{{ cert_common_name | default(vault_agent_common_name) }}{% raw %}" "ttl={% endraw %}{{ cert_ttl | default(vault_agent_cert_ttl) }}{% raw %}" -}}
{{ .Data.certificate }}
{{ .Data.issuing_ca }}
{{- end -}}{% endraw %}
