{% raw %}{{- with secret "{% endraw %}{{ vault_agent_pki_role_path }}{% raw %}" "common_name={% endraw %}{{ item.common_name }}{% raw %}" "ttl={% endraw %}{{ item.ttl | default(vault_agent_cert_ttl) }}{% raw %}" -}}
{{ .Data.private_key }}
{{- end -}}{% endraw %}
