---
- name: Install Grafana
  hosts: grafana
  gather_facts: true
  become: false
  roles:
    - zsh
  vars:
    domain: "grafana.homelab.com"
    hostname: "grafana.homelab.lan"
    cert_dir: "/etc/grafana"
    key_dir: "{{ cert_dir }}"

  tasks:
    - name: Check if Vault root CA already exists
      ansible.builtin.stat:
        path: /usr/local/share/ca-certificates/vault-root-ca.crt
      register: root_ca_stat

    - name: Download Vault root CA certificate (Internal LAN)
      when: not root_ca_stat.stat.exists
      ansible.builtin.uri:
        url: "https://vault.homelab.lan:8200/v1/root_ca/ca/pem"
        method: GET
        validate_certs: false
        return_content: true
        dest: /usr/local/share/ca-certificates/vault-root-ca.crt

    - name: Update CA certificates
      when: not root_ca_stat.stat.exists
      ansible.builtin.command:
        cmd: update-ca-certificates
      changed_when: true

    - name: Fetch AppRole role_id from Vault
      ansible.builtin.uri:
        url: "https://vault.homelab.lan:8200/v1/auth/approle/role/grafana/role-id"
        method: GET
        headers:
          X-Vault-Token: "{{ vault_token }}"
        validate_certs: true
        return_content: true
      register: grafana_role_id_response

    - name: Generate AppRole secret_id from Vault
      ansible.builtin.uri:
        url: "https://vault.homelab.lan:8200/v1/auth/approle/role/grafana/secret-id"
        method: POST
        headers:
          X-Vault-Token: "{{ vault_token }}"
        validate_certs: false
        return_content: true
      register: grafana_secret_id_response

    - name: Configure Vault Agent for Grafana Certificate
      ansible.builtin.include_role:
        name: vault_agent
      vars:
        vault_agent_common_name: "{{ hostname }}"
        vault_agent_cert_filename: "{{ hostname }}"
        vault_agent_cert_folder: "{{ cert_dir }}"
        vault_agent_reload_cmd: "/usr/bin/systemctl restart grafana-server.service"
        vault_agent_role_id: "{{ grafana_role_id_response.json.data.role_id }}"
        vault_agent_secret_id: "{{ grafana_secret_id_response.json.data.secret_id }}"
        vault_agent_service_user: "grafana"
        vault_agent_service_group: "grafana"

    - name: Add grafana repo
      ansible.builtin.deb822_repository:
        name: grafana
        types: [deb]
        uris: "https://apt.grafana.com"
        components: [main]
        signed_by: https://apt.grafana.com/gpg.key
        suites: "stable"
        state: present
        enabled: true

    - name: Install grafana
      ansible.builtin.apt:
        name: grafana
        update_cache: true
        state: present

    - name: Template grafana config
      ansible.builtin.template:
        src: templates/grafana.ini.j2
        dest: /etc/grafana/grafana.ini

    - name: Enable grafana
      ansible.builtin.systemd_service:
        name: grafana-server
        state: started
        enabled: true
