---
- name: Install MongoDB
  hosts: mongodb
  gather_facts: true
  become: false
  roles:
    - zsh

  tasks:
    - name: Verify connection to the container
      ansible.builtin.ping:

    - name: Install required packges
      ansible.builtin.apt:
        name:
          - gnupg
          - curl
          - vim
          - python3-pymongo
        state: present
        update_cache: true

    - name: Create list file
      ansible.builtin.deb822_repository:
        name: mongodb-org-8.2
        types: [deb]
        uris: "http://repo.mongodb.org/apt/debian"
        components: [main]
        signed_by: https://www.mongodb.org/static/pgp/server-8.0.asc
        state: present
        enabled: true
        suites: "bookworm/mongodb-org/8.2"

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade apt
      ansible.builtin.apt:
        upgrade: true

    - name: Install MongoDB Community Server
      ansible.builtin.apt:
        name: mongodb-org
        state: present

    - name: Copy MongoDB configuration
      ansible.builtin.copy:
        src: ./configurations/mongod.conf
        dest: /etc/mongod.conf
        owner: root
        group: root
        mode: u=rw,g=r,o=r

    - name: Enable and restart mongod
      ansible.builtin.systemd_service:
        name: mongod
        state: restarted
        enabled: true

    - name: Add mongo admin user with localhost exception
      community.mongodb.mongodb_user:
        state: present
        # on_create triggers additional queries that are not compatible with localhost exception
        update_password: always

        name: "{{ users.admin.name }}"
        password: "{{ users.admin.password }}"
        database: admin
        roles: "root"

        login_host: "localhost"
        login_port: "27017"
        create_for_localhost_exception: "/root/mongodb_admin.success"

    - name: Debug vault
      ansible.builtin.debug:
        var: users.vault

    - name: Add mongo vault user
      community.mongodb.mongodb_user:
        state: present
        name: "{{ users.vault.name }}"
        password: "{{ users.vault.password }}"
        database: admin
        roles: "root"
        login_host: "localhost"
        login_port: "27017"
        login_user: "{{ users.admin.name }}"
        login_password: "{{ users.admin.password }}"
      when: users.vault is defined

    - name: Enable and restart mongod
      ansible.builtin.systemd_service:
        name: mongod
        state: restarted
        enabled: true
