---
- name: Install MongoDB
  hosts: mongodb
  gather_facts: true
  become: false

  tasks:
    - name: Verify connection to the container
      ansible.builtin.ping:

    - name: Install required packges
      ansible.builtin.apt:
        name:
          - gnupg
          - curl
          - vim
          - python3-pymongo
        state: present
        update_cache: true

    - name: Import MongoDB gpg key
      ansible.builtin.shell:
        cmd: curl -fsSL https://www.mongodb.org/static/pgp/server-8.0.asc | gpg -o /usr/share/keyrings/mongodb-server-8.0.gpg --dearmor --yes

    - name: Create list file
      ansible.builtin.shell:
        cmd: echo "deb [ signed-by=/usr/share/keyrings/mongodb-server-8.0.gpg ] http://repo.mongodb.org/apt/debian bookworm/mongodb-org/8.0 main" | tee /etc/apt/sources.list.d/mongodb-org-8.0.list

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade apt
      ansible.builtin.apt:
        upgrade: true

    - name: Install MongoDB Community Server
      ansible.builtin.apt:
        name: mongodb-org
        state: present

    - name: Copy MongoDB configuration
      ansible.builtin.copy:
        src: ./configurations/mongod.conf
        dest: /etc/mongod.conf
        owner: root
        group: root
        mode: u=rw,g=r,o=r

    - name: Enable and restart mongod
      ansible.builtin.systemd_service:
        name: mongod
        state: restarted
        enabled: true

    - name: Add mongo admin user with localhost exception
      community.mongodb.mongodb_user:
        state: present
        # on_create triggers additional queries that are not compatible with localhost exception
        update_password: always

        name: "{{ users.admin.name }}"
        password: "{{ users.admin.password }}"
        database: admin
        roles: "root"

        login_host: "localhost"
        login_port: "27017"
        create_for_localhost_exception: "/root/mongodb_admin.success"

    - name: Debug vault
      ansible.builtin.debug:
        var: users.vault

    - name: Add mongo vault user
      community.mongodb.mongodb_user:
        state: present
        name: "{{ users.vault.name }}"
        password: "{{ users.vault.password }}"
        database: admin
        roles: "root"
        login_host: "localhost"
        login_port: "27017"
        login_user: "{{ users.admin.name }}"
        login_password: "{{ users.admin.password }}"
      when: users.vault is defined

    - name: Enable and restart mongod
      ansible.builtin.systemd_service:
        name: mongod
        state: restarted
        enabled: true

- name: Install Hashicopr Vault
  hosts: vault
  gather_facts: true
  become: false
  vars:
    # Ensure SSL files are copied to expected dest
    # You can do this with Ansible or manually copy to host
    # I use Let's Encrypt as my free Certificate Authority
    vault_fqdn: "localhost"
    # vault_port: "2083"
    vault_storage_path: /opt/vault/data
    vault_tls_enabled: "{{ vault_tls | bool | default(true) }}"
    vault_tls_cert_dest: "/opt/vault/tls/fullchain_{{ vault_fqdn }}.pem"
    vault_tls_key_dest: "/opt/vault/tls/{{ vault_fqdn }}.key"
    vault_no_log: "{{ vault_secure_log | bool | default(true) }}"
    vault_addr: "{{ vault_tls_enabled | ternary('https', 'http') }}://{{ vault_fqdn }}:{{ vault_port | default(8200) }}"

  tasks:
    - name: Verify connection to the container
      ansible.builtin.ping:

    - name: Install required packges
      ansible.builtin.apt:
        name:
          - gnupg
          - curl
          - vim
        state: present
        update_cache: true

    - name: Import Hashicorp GPG key
      ansible.builtin.shell:
        cmd: curl -fsSL https://apt.releases.hashicorp.com/gpg | gpg -o /usr/share/keyrings/hashicorp-archive-keyring.gpg --dearmor --yes

    - name: Create list file
      ansible.builtin.shell:
        cmd: echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_facts.distribution_release }} main" | tee /etc/apt/sources.list.d/hashicorp.list

    - name: Install vault requirements
      ansible.builtin.apt:
        name:
          - terraform
          - vault
        state: present
        update_cache: true

    - name: Create storage
      ansible.builtin.file:
        name: "{{ vault_storage_path }}"
        owner: vault
        group: vault
        mode: "0755"
        state: directory

    - name: Template vault config
      ansible.builtin.template:
        src: templates/vault.hcl.j2
        dest: /etc/vault.d/vault.hcl

    - name: Start vault service
      ansible.builtin.service:
        name: vault
        enabled: true
        state: restarted

    - block:
        - name: Vault init
          register: r_vault_init
          no_log: "{{ vault_no_log | default(true) }}"
          environment:
            VAULT_ADDR: "{{ vault_addr }}"
          ansible.builtin.command:
            cmd: vault operator init -format json
          ignore_errors: true

        - meta: end_play
          when: r_vault_init is failed

    - name: Vault init data
      no_log: "{{ vault_no_log | default(true) }}"
      ansible.builtin.set_fact:
        vault_init_data: "{{ r_vault_init.stdout | from_json }}"

    - name: Save vault data
      ansible.builtin.copy:
        content: "{{ vault_init_data | to_nice_json(indent=2) }}"
        dest: "{{ vault_storage_path }}/init_data.json"

    - name: Vault unseal
      loop: "{{ vault_init_data.unseal_keys_b64[:3] }}"
      no_log: "{{ vault_no_log | default(true) }}"
      environment:
        VAULT_ADDR: "{{ vault_addr }}"
      ansible.builtin.command:
        cmd: "vault operator unseal -format json {{ item }}"

    - name: Vault status
      register: r_vault_status
      no_log: "{{ vault_no_log | default(true) }}"
      environment:
        VAULT_ADDR: "{{ vault_addr }}"
      ansible.builtin.command:
        cmd: "vault status -format json"

    - name: Vault status report
      ansible.builtin.debug:
        msg: "{{ r_vault_status.stdout | from_json }}"

    - name: Create a local, unencrypted file with the Vault secrets
      ansible.builtin.template:
        src: templates/vault_secrets.yaml.j2
        dest: "../outputs/vault_secrets.yml"
        mode: '0600'
      delegate_to: localhost
