---
- name: Configure user shells and environments
  hosts: jumpbox
  roles:
    - role: zsh
      vars:
        zsh:
          users:
            - name: root
            - name: developer
  handlers:
    - name: restart sshd
      ansible.builtin.service:
        name: sshd
        state: restarted

  tasks:
    - name: Install basic security tools
      ansible.builtin.apt:
        name:
          - sudo
        state: present
        update_cache: true

    - name: Create developer user
      user:
        name: developer
        shell: /bin/zsh
        create_home: true
        state: present

    - name: Set up authorized keys for developer
      authorized_key:
        user: developer
        state: present
        key: "{{ users.developer.public_key }}"

    # - name: Secure sshd_config settings
    #   lineinfile:
    #     path: /etc/ssh/sshd_config
    #     regexp: "{{ item.regexp }}"
    #     line: "{{ item.line }}"
    #     state: present
    #     validate: 'sshd -t -f %s'
    #   notify: restart sshd
    #   loop:
    #     - {regexp: '^#?PermitRootLogin', line: '#PermitRootLogin no'}
    #     - {regexp: '^#?PasswordAuthentication', line: '#PasswordAuthentication no'}
    #     - {regexp: '^#?AllowAgentForwarding', line: '#AllowAgentForwarding yes'}
    #     - {regexp: '^#?AllowTcpForwarding', line: '#AllowTcpForwarding yes'}
