---
- name: Setup ansible-pct user and configure environment on Proxmox host
  hosts: proxmox
  gather_facts: false
  become: true
  roles:
    - zsh

  tasks:
    - name: Install sudo
      ansible.builtin.apt:
        name: sudo
        state: present

    - name: Create ansible user
      ansible.builtin.user:
        name: ansible
        comment: Ansible User
        home: /opt/ansible-pct
        shell: /bin/bash
        create_home: true
        system: true

    - name: Create .ssh directory
      ansible.builtin.file:
        path: /opt/ansible-pct/.ssh
        state: directory
        owner: ansible
        group: ansible
        mode: '0700'

    - name: Generate SSH key for ansible user
      community.crypto.openssh_keypair:
        path: /opt/ansible-pct/.ssh/ansible
        type: ed25519
        comment: 'ansible'
        #force: true
        mode: '0600'
        owner: ansible
        group: ansible

    - name: Set public key as authorized key
      ansible.builtin.copy:
        src: /opt/ansible-pct/.ssh/ansible.pub
        dest: /opt/ansible-pct/.ssh/authorized_keys
        remote_src: yes
        owner: ansible
        group: ansible
        mode: '0600'

    - name: Add sudoers entry for ansible user
      ansible.builtin.copy:
        content: 'ansible ALL = (root) NOPASSWD: /usr/sbin/pct'
        dest: /etc/sudoers.d/ansible_pct
        owner: root
        group: root
        mode: '0440'

    - name: Fetch private SSH key to localhost
      ansible.builtin.fetch:
        src: /opt/ansible-pct/.ssh/ansible
        dest: "~/.ssh/proxmox_{{ env }}_ansible_private_key"
        flat: yes
        fail_on_missing: true

    - name: Clean up generated SSH keys
      ansible.builtin.file:
        path: /opt/ansible-pct/.ssh/ansible*
        state: absent

- name: Configure private key permissions on localhost
  hosts: localhost
  become: false

  tasks:
    - name: Set permissions for fetched private key
      ansible.builtin.file:
        path: ~/.ssh/proxmox_ansible_private_key
        mode: '0600'
