[Unit]
Description=ACME certificate renewal for {{ acme_domain }}
After=network-online.target

[Service]
Type=oneshot
User={{ acme_service_user }}
Group={{ acme_service_group }}
ExecStart={{ acme_script_path }}

[Install]
WantedBy=multi-user.target
