[defaults]
inventory = inventory/
roles_path = roles:matrix-docker-ansible-deploy/roles/galaxy:matrix-docker-ansible-deploy/roles/custom
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
collections_path = matrix-docker-ansible-deploy/collections

[inventory]
enable_plugins = cloud.terraform.terraform_state, yaml, ini

[privilege_escalation]
become = False

[ssh_connection]
pipelining = True
